#recommended python=3.12.7 / 3.12.9
pandas==2.2.3
scikit-learn==1.5.2
lightgbm==4.6.0
catboost==1.2.8
xgboost==3.0.0
optuna==4.3.0
matplotlib==3.9.3
seaborn==0.13.2
numpy==2.0.2
shap<=1.16.0
joblib==1.4.2
jupyterlab==4.3.1
tensorflow==2.18.0
pillow==11.2.1
pystray==0.19.5
scapy==2.6.1
plyer==2.1.0
winotify==1.1.0